<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h1 align="center">Users</h1>
<table align="center" border="1%" style="border-collapse: collapse">
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Username</th>
        <th>User Type</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${userList.isEmpty()}">
        <td>No users found!</td>
    </tr>
    <tr th:each="user:${userList}">
        <td th:text="${user.idUser}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.userType}"></td>
        <td><a th:href="@{'/users/update/' + ${user.idUser}}"> Edit</a></td>
        <td><a th:href="@{'/users/delete/' + ${user.idUser}}">Delete</a></td>
    </tr>
    </tbody>
</table>
<br>
<br>
<br>
<p align="center">
    <a href="/users/add">Create User</a>
</p>
</body>
</html>