<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<h1 align="center">Welcome</h1>
<div align="center">
    <div th:if="${param.success}">
        <div class="alert alert-info">You've successfully registered
        </div>
    </div>
    <div th:if="${param.error}">
        <div class="alert alert-info">Unable to create User!</div>
    </div>
    <form th:action="@{/users/add}" th:object="${user}" method="post">
        <table>
            <tr>
                <td>
                    <label for="firstName" class="control-label">FirstName</label>
                </td>
                <td>
                    <input id="firstName" class="form-control" th:field="*{firstName}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="lastName" class="control-label">Last Name</label>
                </td>
                <td>
                    <input id="lastName" class="form-control" th:field="*{lastName}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="email" class="control-label">Email</label>
                </td>
                <td>
                    <input id="email" class="form-control" th:field="*{email}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="userName" class="control-label">Username</label>
                </td>
                <td>
                    <input id="userName" class="form-control" th:field="*{username}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password" class="control-label">Password</label>
                </td>
                <td>
                    <input id="password" class="form-control" type="password" th:field="*{password}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="userType" class="control-label">User Type</label>
                </td>
                <td>
                    <!--                    <input id="userType" class="form-control" th:field="*{userType}">-->
                    <select id="userType" class="form-control" th:field="*{userType}">
                        <option value="Admin">Admin</option>
                        <option value="User">User</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn">Create</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>

<!-- To use instead of table!!!! -->

<!--        <div class="form-group" align="center">-->
<!--            <label for="firstName" class="control-label">FirstName</label> -->
<!--            <input id="firstName" class="form-control" th:field="*{firstName}"/>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="lastName" class="control-label">Last Name</label>-->
<!--            <input id="lastName" class="form-control" th:field="*{lastName}"/>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="email" class="control-label">Email</label>-->
<!--            <input id="email" class="form-control" th:field="*{email}">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="userName" class="control-label">Username</label>-->
<!--            <input id="userName" class="form-control" th:field="*{username}"/>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="password" class="control-label">Password</label>-->
<!--            <input id="password" class="form-control" type="password" th:field="*{password}"/>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="userType" class="control-label">User Type</label>-->
<!--            <input id="userType" class="form-control" th:field="*{userType}">-->
<!--        </div>-->